.close-btn {
  position: absolute;
  left: 100%;
  top: 0;
  width: 30px;
  height: 30px;
  transform: translateX(-100%) translateY(0%);
  cursor: pointer;
  background-color: rgb(153, 2, 2);
  z-index: 99;
}

.close-btn__line-one,
.close-btn__line-two {
  display: block;
  width: 24px;
  height: 4px;
  background-color: black;
}

.close-btn__line-one {
  transform: rotate(45deg) translateX(12px) translateY(6px);
}

.close-btn__line-two {
  transform: rotate(-45deg) translateX(-3px) translateY(9px);
}