.control-list {
  padding: 0;
}

.control-list__item {
  text-align: center;
  list-style-type: none;
}

.control-list__btn {
  display: inline-block;
  width: 120px;
  margin: 8px;
  padding: 7px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 17px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #626366;
  background-color: rgb(219, 219, 219);
  box-shadow: 0 0 4px rgb(24, 22, 22);
  transition: 0.4s;
}

.control-list__btn:hover {
  background-color: black;
}