@media all and (max-width: 850px) {
  .main-title{
    font-size: 50px;
  }

  .records {
    width: 250px;
    font-size: 17px;
  }

  .about {
    width: 290px;
    font-size: 14px;
  }

  .about-discription {
    margin: 0;
  }

  .sidebar {
    position: absolute;
    left: -200px;
    padding-top: 40px;
  }

  .burger-menu {
    display: block;
  }

  .sidebar__hidden {
    left: 0px;
  }
}

