.field {
  position: relative;
  width: 80%;
  height: 80vh;
  margin: 15px auto;
  background-color: cadetblue;
}

.square {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: rgb(75, 11, 11);
}

p {
  display: inline-block;
  margin: 0 20px;
}
