body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
}

h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

.main-news-section {
  padding: 20px 0;
}

.container {
  max-width: 1436px;
  padding: 0 30px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.main-news-wrap {
  max-width: 996px;
}

.news-header {
  margin: 0 0 10px 25px;
  font-size: 40px;
}

.article-header {
  max-width: 400px;
  margin-top: 0;
  font-size: 24px;
}

.head-news-wrap {
  display: flex;
  max-width: 996px;
}

.head-news-banner {
  flex-grow: 2;
  background-image: url("./media//image/main-news-banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 65% 100%;
}

.head-news-item {
  width: 53%;
  height: 100%;
  box-sizing: border-box;
  padding: 28px 25px 15px 30px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background-color: rgba(48, 63, 134, 0.8);
}

.article-content {
  margin-top: 30px;
  font-size: 16px;
}

.article-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 45px;
}

.article-date {
  font-size: 14px;
}

.article-link {
  padding: 6px;
  font-size: 14px;
  background-color: rgba(243, 243, 243, 0.5);
  transition: 0.5s;
}

.article-link:hover {
  background-color: rgba(155, 155, 155, 0.5);
}

.news {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.news-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 33%;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: rgb(211, 211, 211);
}

.news-item:last-child {
  margin-right: 0;
}

.image-header {
  width: 100%;
  height: 200px;
}

.graduates-bg,
.enrollment-bg,
.cooperation-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 40%;
}

.graduates-bg {
  background-image: url("./media/image/graduates-bg.jpg");
}

.enrollment-bg {
  background-image: url("./media/image/enrollment-bg.jpg");
}

.cooperation-bg {
  background-image: url("./media/image/cooperation-bg.jpg");
}

.item-content-wrap,
.item-footer {
  width: 100%;
  padding: 0 11px;
  box-sizing: border-box;
}

.news-item-header {
  margin-top: 12px;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: 700;
}

.item-content {
  margin-top: 12px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-date {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.item-link {
  padding: 6px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 300;
  background-color: rgba(48, 63, 134, 0.5);
  transition: 0.5s;
}

.item-link:hover {
  background-color: rgba(97, 114, 197, 0.5);
}

/* /////////////////////////////////////////// */
.line-news {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 325px;
  margin: 0 0 0 15px;
}

.line-news-wrap {
  padding: 21px 38px;
  background-color: rgba(48, 63, 134, 0.2);
}

.line-news-list {
  padding: 0;
  margin: 0;
}

.line-news-item {
  margin-bottom: 6px;
}

.line-news-item-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 290px;
  margin-top: 10px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 300;
}

.line-news-item-fotter-link {
  display: block;
  width: 126px;
  padding: 6px;
  box-sizing: border-box;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(243, 243, 243, 0.5);
  transition: 0.4s;
}

.line-news-item-fotter-link:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.all-news-link {
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.all-news-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.all-news-link::after {
  content: url("./media/icon/arrow.svg");
  margin-left: 30px;
  transition: 0.4s;
}

.all-news-link:hover::after {
  filter: invert(67%) sepia(0%) saturate(0%) hue-rotate(243deg) brightness(0%)
    contrast(100%);
}

.about-list {
  width: 150px;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
}

.about-item {
  margin-bottom: 12px;
}

.about-item a {
  padding: 4px;
  transition: 0.4s;
}

.about-item a:hover {
  text-decoration: underline;
}

@media all and (max-width: 1200px) {
  .wrapper {
    justify-content: center;
    flex-wrap: wrap;
  }

  .line-news {
    justify-content: space-around;
    width: 100%;
    margin-left: 0;
  }

  .line-news-wrap {
    max-width: 400px;
  }

  .line-news-item-footer {
    max-width: 100%;
  }

  .about-list {
    width: 25%;
    margin-top: 60px;
    font-size: 16px;
  }

  .about-list a {
    display: block;
    color: white;
    text-align: center;
    background-color: rgb(143, 143, 143);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  }

  .about-list a:hover {
    text-decoration: none;
    color: rgb(49, 49, 49);
    background-color: rgb(175, 175, 175);
  }
}

@media all and (max-width: 800px) {
  .news-header {
    width: 250px;
    margin: 20px auto;
    font-size: 30px;
  }

  .head-news-wrap {
    width: 80%;
    margin: 0 auto;
  }

  .head-news-item {
    width: 100%;
    background-image: linear-gradient(
        to top,
        rgba(48, 63, 134, 0.8),
        rgba(48, 63, 134, 0.8)
      ),
      url("./media//image/main-news-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .head-news-banner {
    display: none;
  }

  .news {
    justify-content: center;
    flex-wrap: wrap;
  }

  .news-item {
    margin: 15px 0;
    width: 80%;
  }

  .line-news-wrap {
    width: 80%;
    max-width: none;
    box-sizing: border-box;
    margin: 0 auto;
  }

  .about-list {
    width: 40%;
    margin: 30px;
    font-size: 20px;
  }

  .about-item {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 600px) {
  .container {
    padding: 5px;
  }

  .head-news-wrap,
  .news-item,
  .line-news-wrap {
    width: 100%;
  }

  .about-list {
    width: 80%;
  }
}
